<hr>

<p>
  <b>Storyteller</b> is hosted on Microsoft Azure.
  You can fork the code at
  <a href="https://github.com/ctstone/mystory-ai" class="btn btn-sm btn-light">
    <i class="fab fa-github"></i>
    GitHub
  </a>.
  The following
  <a href="https://azure.microsoft.com/en-us/" class="btn btn-sm btn-light">
    <img src="assets/Azure_logo_icon_50.svg" style="height: 1em;"> Azure
  </a>
  services were used to build this concept:
</p>

<div class="card-group">
    <div class="card">
      <a href="https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro">
        <img src="assets/Azure App Service - Web App_COLOR.svg" class="card-img-top p-4" alt="Azure Web Apps">
      </a>
      <div class="card-body">
        <h5 class="card-title">Web Apps</h5>
        <p class="card-text">Azure App Service is a fully managed compute platform that is optimized for hosting websites and web applications. Customers can use App Service on Linux to host web apps natively on Linux for supported application stacks.</p>
      </div>
    </div>

    <div class="card">
      <a href="https://docs.microsoft.com/en-us/azure/search/search-what-is-azure-search">
        <img src="assets/Azure Search_COLOR.svg" class="card-img-top p-4" alt="Azure Search">
      </a>
      <div class="card-body">
        <h5 class="card-title">Search</h5>
        <p class="card-text">Azure Search is a search-as-a-service cloud solution that gives developers APIs and tools for adding a rich search experience over private, heterogenous content in web, mobile, and enterprise applications. Query execution is over a user-defined index.</p>
      </div>
    </div>
    
    <div class="card">
      <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview">
        <img src="assets/Azure Cognative Services - Speech_COLOR.svg" class="card-img-top" alt="Cognitive Speech Services">
      </a>
      <div class="card-body">
        <h5 class="card-title">Cognitive Speech Services</h5>
        <p class="card-text">The <b>Speech to Text</b> API transcribes audio streams into text that your application can display to the user or act upon as command input.</p>
        <p class="card-text">The <b>Text to Speech</b> API converts input text into natural-sounding speech (also called speech synthesis).</p>
        <p class="card-text">The <b>Translator Speech</b> API allows client applications to stream speech audio to the service and receive back the recognized text in the source language and its translation in the target language.</p>
      </div>
    </div>

    <div class="card">
      <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview">
        <img src="assets/Azure Cognative Services - textanalytics_COLOR.svg" class="card-img-top" alt="Cognitive Text Analytics">
      </a>
      <div class="card-body">
        <h5 class="card-title">Cognitive Text Analytics</h5>
        <p class="card-text">The Text Analytics API is a cloud-based service that provides advanced natural language processing over raw text, and includes four main functions: sentiment analysis, key phrase extraction, language detection, and entity linking.</p>
      </div>
    </div>

    <div class="card">
      <a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines?view=azure-devops">
        <img src="assets/Visual Studio Team Services_COLOR.svg" class="card-img-top p-4" alt="...">
      </a>
      <div class="card-body">
        <h5 class="card-title">DevOps Pipelines</h5>
        <p class="card-text">Azure Pipelines is a cloud service that you can use to automatically build and test your code project and make it available to other users. It works with just about any language or project type.</p>
        <p class="card-text">Azure Pipelines combines continuous integration (CI) and continuous delivery (CD) to constantly and consistently test and build your code and ship it to any target.</p>
      </div>
    </div>
  </div>