<hr>

<p>
  <b>Storyteller</b> is hosted on Microsoft Azure. You can fork the code at <a href="https://github.com/ctstone/mystory-ai">GitHub</a>.
</p>

<p>
  The following <b>Azure</b> services were used to build this concept:
</p>

<ul>
  <li><a href="https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro">Web Apps</a></li>
  <li><a href="https://docs.microsoft.com/en-us/azure/search/">Search</a></li>
  <li><a href="https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview">Cognitive Speech Service</a></li>
  <li><a href="https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview">Cognitive Text Analytics</a></li>
  <li><a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines?view=azure-devops">Pipelines</a></li>
</ul>