<form (submit)="search()">
  <div class="form-group">
    <div class="input-group">
      <input type="search" class="form-control" [formControl]="inputControl" [placeholder]="getQueryPlaceholder()">
      <div class="input-group-append">
        <button type="button" class="btn btn-success" (click)="listen()" [disabled]="connecting" *ngIf="(connected || connecting) else showDisconnected">🎙️</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="state || !inputControl.value">search</button>
  </div>
</form>

<ng-container *ngIf="keyPhrases && !searchResults">
  <h3>Key Phrases</h3>
  {{keyPhrases.documents[0].keyPhrases}}
</ng-container>

<ng-container *ngIf="searchResults">
  <h3>
    Results
    <small *ngIf="keyPhrases">{{keyPhrases.documents[0].keyPhrases}}</small>
    <small *ngIf="tag">{{tag}}</small>
  </h3>
  <p class="lead" *ngIf="searchResults.value.length === 0">No matches</p>
  <div class="card-columns">
    <div class="card" *ngFor="let doc of searchResults.value">
      <a href="http://www.metmuseum.org/art/collection/search/{{doc.id}}" *ngIf="doc.$primaryImageUrl">
        <img class="card-img-top" [src]="doc.$primaryImageUrl">
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href="http://www.metmuseum.org/art/collection/search/{{doc.id}}">{{doc.title}}</a>
        </h5>
        <p class="card-text">
          {{doc.medium}}<ng-container *ngIf="doc.medium && doc.objectDate">, </ng-container>
          <small class="text-muted">{{doc.objectDate}}</small>
        </p>
        <p class="card-text">
          <small>{{doc.department}}</small>
          <span class="small text-muted ml-2" *ngIf="doc.creditLine">from {{doc.creditLine}}</span>
        </p>
        <p class="card-text">
          <a class="badge badge-secondary mr-2" routerLink="." [queryParams]="{tag:tag}" *ngFor="let tag of doc.tags">{{tag}}</a>
        </p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #showDisconnected>
  <button type="button" class="btn btn-success" (click)="connect()">Connect</button>
</ng-template>
