<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k"
  crossorigin="anonymous">

<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <i class="fas fa-book-open fa-2x fa-fw" ></i>
    </a>
    <ul class="nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="speach" routerLinkActive="active">Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="search" routerLinkActive="active">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="about" routerLinkActive="active">About</a>
      </li>
    </ul>

    <span
      triggers="mouseenter:mouseleave"
      placement="bottom"
      ngbPopover="Storyteller supports over 60 different languages! Select your speaking language on the left, and optionally, a translation lanuage on the right.">
      <i class="fas fa-info-circle text-light"></i>
    </span>

    <select class="form-control form-control-sm ml-2" style="width: auto;" [formControl]="languageSourceControl">
      <optgroup label="I am speaking...">
        <option *ngFor="let lang of TRANSLATION_SOURCE_LANGUAGES" [ngValue]="lang">{{lang.name}}</option>
      </optgroup>
    </select>

    <i class="fal fa-arrow-alt-right text-light mx-3"></i>

    <select class="form-control form-control-sm" style="width: auto;" [formControl]="languageTargetControl">
      <optgroup label="Translate my speech to...">
        <option [ngValue]="null">NO TRANSLATION</option>
        <option *ngFor="let lang of TRANSLATION_TARGET_LANGUAGES" [ngValue]="lang">{{lang.name}}</option>
      </optgroup>
    </select>


  </div>
</nav>

<div class="container" style="padding-top: 20px;">
  <p class="lead text-muted">
    <b>Storyteller</b> uses <b>Microsoft <abbr title="Artificial Intelligence">AI</abbr></b> to choose artworks in The Met’s <b>Open Access</b> collection that illustrate any story you might want to tell.
    <b>Storyteller</b> is a prototype concept which was created over a two-day hackathon with collaborators across <b>The Met</b>, <b>Microsoft</b>, and <b>MIT</b>.
  </p>

  <router-outlet></router-outlet>
</div>
