<img src="assets/top.jpg" style="width: 100%; height:auto;">

<div style="margin-left:16.5%; margin-right:16.5%">
  <form *ngIf="connected else showNotConnected">
    <div class="input-group">
      <input type="search" class="form-control" [formControl]="inputControl" [placeholder]="placeholder">
      <div class="input-group-append">
        <button type="button" class="btn btn-danger" (click)="stop()" *ngIf="recording else showNotRecording">
          <i class="fas fa-stop"></i>
        </button>
      </div>
    </div>
  </form>

  <div #imagesElement="appScroll" appScroll class="mt-2" style="overflow: auto; white-space: nowrap;">
    <ng-container *ngFor="let doc of docs">
      <a target="_blank" href="http://www.metmuseum.org/art/collection/search/{{doc.id}}" *ngIf="doc.$primaryImageUrl">
        <img style="height:400px; width: auto;" [src]="doc.$primaryImageUrl">
      </a>
    </ng-container>
  </div>

  <h4 #phrasesElement="appScroll" class="text-muted" appScroll style="padding: 20px; overflow: auto; white-space: nowrap;">
    <ng-container *ngFor="let phrase of phrases; let last = last">
      {{phrase}}
      <span *ngIf="!last" class="mx-1">&bull;</span>
    </ng-container>
  </h4>
</div>

<div style="height:200px;margin-bottom:100px; background:#eee" class="text-muted d-flex flex-column align-items-center justify-content-center" *ngIf="!docs.length && !recording">
  <h1 >
    <span>
    CLICK THE <i class="small mx-2 fas fa-microphone"></i> TO GET STARTED
    </span>
  </h1>
</div>

<img src="assets/bottom.jpg" class="mt-3" style="width: 100%; height:auto;">

<ng-template #showNotRecording>
  <button type="button" class="btn btn-success" (click)="record()">
    <i class="far fa-microphone"></i>
  </button>
</ng-template>

<ng-template #showNotConnected>
  <h3 class="text-muted" *ngIf="connecting else showDisconnected">
    CONNECTING
  </h3>
</ng-template>

<ng-template #showDisconnected>
  <button type="button" class="btn btn-success" (click)="connect()">
    connect
  </button>
</ng-template>